.container {
    display: flex;
  }
  
  .sidebar {
    width: 100px;
    background-color: #183A64;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .sidebar #icon1 {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
  }

  .sidebar #icon2 {
    padding: 20px;
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 60%;
  }

  .sidebar #icon2:hover {
    width: 60px;
    height: 60px;
    filter: brightness(50%);
  }

  .sidebar #icon3 {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 80%;
  }

  .sidebar #icon3:hover {
    width: 80px;
    height: 80px;
    filter: brightness(50%);
  }

  .sidebar #icon4 {
    padding: 20px;
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 65%;
  }

  .sidebar #icon4:hover {
    width: 65px;
    height: 65px;
    filter: brightness(50%);
  }


  .sidebar #icon5 {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 85%;
  }

  .sidebar #icon5:hover {
    width: 85px;
    height: 85px;
    filter: brightness(50%);
  }

  .sidebar #icon6 {
    padding: 20px;
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 65%;
  }

  .sidebar #icon6:hover {
    width: 65px;
    height: 65px;
    filter: brightness(50%);
  }
  
  .header {
    margin-top: -30px;
    margin-left: 60px;
  }

  #line1 {
    height: 1px;
    background-color: #CDCDCD;
    border: none;
}

#line2{
  position: absolute;
  top: 70px;;
  left: 100px; 
  right: 0px; 
  width: auto;
  height: 1px;
  background-color: #CDCDCD;
  border: none;
}

#line3{
  position: absolute;
  top: 110px;;
  left: 100px; 
  right: 0px; 
  width: auto;
  height: 1px;
  background-color: #CDCDCD;
  border: none;

}

  .header h1{
    position:fixed;
    margin-top: 45px;
    margin-left: 120px;
    display: inline-block;
    font-family: Arial;
    font-size: 30px;
    color:#183A64
  }

  .header #icon1{
    position:fixed;
    margin-top: 15px;
    float:left;
    margin-left: 30px;
    width: 100px;
    height: 100px;
  }

  .header p{
    position: fixed;
    font-family: Arial;
    margin-left: 40px;
    margin-top: 110px;
    color: #B4AFAC
  }

  .header #icon2{
    position: fixed;
    margin-top: 10px;
    right: 0;
    width: 100px; /* adjust the width as per your need */
  }

  .header #vertical-line{
    position:fixed;
    border-left: 1px solid #CDCDCD;
    height: 100px; /* set the height of the line */
    right: 110px;
  }

  .header #text2{
    position:fixed;
    margin-top: 105px;
    margin-left: 277px;
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    color:#183A64
  }

  .main-content #img1{
    position:fixed;
    margin-top: 180px;
    margin-left: 170px;
  }

    .main-content #box1{
      width: 400px;
      height: 200px;
      border: 2px solid #183A64;
      margin-left: 450px;
      margin-top: 180px;
      border-radius: 20px;
  }

  .main-content #text_1, .main-content #Name{
    display:inline-block;
    font-size: 18px;
    margin-left:15px;
  }

  .main-content #Name{
    margin-left:5px;
  }

  .main-content #text_2, .main-content #UID{
    display:inline-block;
    font-size: 18px;
    margin-left: 15px;
    margin-top: 5px;
  }

  .main-content #text_3, .main-content #Status{
    display:inline-block;
    font-size: 18px;
    margin-left:15px;
    margin-top: 5px;
  }

  .main-content #Status{
    margin-left: 10px;
  }

  .main-content #text_4{
    font-size: 18px;
    margin-left: 15px;
    margin-top: 5px;
  }

  .main-content #text_4, .main-content #Mode{
    display:inline-block;
    font-size: 18px;
    margin-left:15px;
    margin-top: 5px;
  }

  .main-content #Mode{
    margin-left: 5px;
  }

  table {
    margin-left: 500px;
    margin-top: 50px;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #CDCDCD;
    padding: 8px;
    text-align: center;
    color: #183A64;
    font-family: Arial;
    background-color: #F6F6F6;
  }

  .main-content #history{
    position:fixed;
    width: 130px;
    height: 25px;
    border: 2px solid #183A64;
    margin-left: 1350px;
    margin-top: -80px;
    border-radius: 20px;
  }

  .main-content #text3{
    position:relative;
    margin-top: 3px;
    margin-left: 20px;
    text-align: left;
  }

  .main-content #img2{
    position:fixed;
    margin-left:60px;
    margin-top:-49px;
    width:90px;
    height:50px;
  }